<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"><title>{{ game.name }} - DI NIRO</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'nav.html' %}
    <div class="main-content">
        <div class="form-container get-now-container">
            <img class="get-now-image" src="{{ url_for('static', filename=game.image_filename) }}" alt="{{ game.name }}">
            <h1>{{ game.name|upper }} IS <span>READY!</span></h1>
            
            <div id="countdownSection">
                <p>Revealing credentials in...</p>
                <div class="countdown" id="countdown">10</div>
            </div>
            <div class="login-form" id="loginForm">
                <div class="form-group"><label>Username</label><input type="text" value="{{ game.game_username or 'N/A' }}" readonly></div>
                <div class="form-group"><label>Password</label><input type="text" value="{{ game.game_password or 'N/A' }}" readonly></div>
                <button class="submit-btn accent-secondary-btn">PLAY NOW</button>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>